:root {
	--tan: #e6e2d3;
	--trafficWhite: #f0f0f0;
	--yellowGreen: #4caf50;
	--vermillionRed: #c94c4c;
	--blue: #008cba;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

/* utility classes */
.hidden {
	display: none;
}

.line-through {
	text-decoration: line-through;
	opacity: 0.7;
}

.no-active-task {
	text-align: center;
	font-size: 1.2rem;
	font-width: bold;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 500px;
	margin: auto;
	gap: 2rem;
	padding: 0.5rem;
}

.add-todo-form__input,
.add-todo-form__btn,
.edit-todo-form__input {
	padding: 0.7rem;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid var(--trafficWhite);
}

.edit-todo-form__input {
	padding: 0.5rem;
}

.add-todo-form__btn {
	background-color: var(--blue);
	color: var(--trafficWhite);
	border: none;
}

.container {
	border: 2px solid var(--tan);
	border-radius: 5px;
	width: 100%;
	padding: 0.5rem;
}

.todos-list,
.completed-todos-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.todos-listItem {
	background: var(--tan);
	padding: 0.5em;
	border-radius: 5px;
}

.edit-todo-form,
.completed-todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icons {
	display: flex;
	gap: 0.5rem;
}

.edit-btn-icon,
.delete-btn-icon {
	width: 35px;
	height: 30px;
	background: var(--blue);
	border-radius: 5px;
	padding: 0.2rem;
	cursor: pointer;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.edit-btn-icon svg path,
.delete-btn-icon svg path {
	fill: #fff;
}

.delete-btn-icon {
	background: var(--vermillionRed);
}

.btn {
	transition: opacity 0.1s linear;
}

.btn:hover {
	opacity: 0.7;
}

.title {
	cursor: pointer;
}

.completed-todos {
	margin-top: 3em;
}
